@using Disunity.Store.Policies
@using Microsoft.AspNetCore.Authorization
@model Disunity.Store.Entities.Org
@inject IAuthorizationService AuthorizationService

@{
    var authorization = await AuthorizationService.AuthorizeAsync(User, Model, Operations.Update);
    var modalData = new {placeholder = "Enter Org display name"};
}

<h1>
    @if (authorization.Succeeded) {
        <ejs-inplaceeditor id="element" type="Text"
                           mode="Inline"
                           name="DisplayName"
                           value="@Model.DisplayName"
                           model="@modalData"
                           url="/api/v1/orgs/@Model.Slug"
                           primaryKey="@Model.Slug"
                           adaptor="UrlAdaptor"
                           data-underline="false">
        </ejs-inplaceeditor>  
    } else {
        @Model.DisplayName
    }
</h1>