@page
@model Disunity.Store.Areas.Admin.Pages.AdminIndexModel

@{
    var template = "<a href=${href}><div>${text}</div></a>";


    ViewData["Title"] = "Admin Area";
    ViewData["Sections"] = new object[] {
        new {href = Url.Page("/Users/Index", new {Area = "Admin"}), text = "Users"},
        new {href = Url.Page("/Orgs/Index", new {Area = "Admin"}), text = "Orgs"},
        new {href = Url.Page("/OrgMembers/Index", new {Area = "Admin"}), text = "OrgMembers"},
        new {href = Url.Page("/Mods/Index", new {Area = "Admin"}), text = "Mods"},
        new {href = Url.Page("/ModVersions/Index", new {Area = "Admin"}), text = "ModVersions"},
    };
}


<div class="section">
    <h1>Admin Area</h1>
    <ejs-listview id="List"
                  dataSource="ViewBag.Sections"
                  template="@template"
                  headerTitle="Select an entity:"
                  showHeader="true">
        <e-listview-fieldsettings text="name"></e-listview-fieldsettings>
    </ejs-listview>
</div>