@page
@model Disunity.Store.Pages.Targets.Index

@{
    ViewData["Title"] = "All Targets";
}

<h1>All Targets</h1>


<div>
    @* TODO put the search bar and order stuff here *@
</div>

<partial name="_TargetListPartial" for="Targets"/>