<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Disunity.io</title>
    <link rel="icon" href="~/favicon.ico"/>

    <environment include="Development">
        <link rel="stylesheet" href="~/main.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/main.min.css"/>
    </environment>
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css"/>

</head>
<body>
<div class="bg-image"></div>
<div id="wrapper">

    <partial name="_HeaderPartial"/>
    

    <div class="container" id="content">
        <div id="gutter">
            <partial name="_CookieConsentPartial"/>
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="footer-padding"></div>

    <partial name="_FooterPartial"/>

</div>

<environment include="Development">
    <script src="~/main.bundle.js" asp-append-version="true"></script>
    @* <script src="~/vendor.bundle.js" asp-append-version="true"></script> *@
</environment>
<environment exclude="Development">
    <script src="~/main.bundle.min.js" asp-append-version="true"></script>
    @* <script src="~/vendor.bundle.min.js" asp-append-version="true"></script> *@
</environment>

<!-- Syncfusion Essential JS 2 Scripts -->
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

<ejs-scripts></ejs-scripts>

<script>
@RenderSection("Scripts", false)
</script>

</body>
</html>