@page "/u/{userSlug:user}"
@model Disunity.Store.Pages.Users.Details

@{
    ViewData["Title"] = Model.Org.DisplayName;
}

<partial name="Orgs/_OrgDetailsPartial" model="@Model.Org"/>

<div id="usersTable"></div>

<partial name="Mods/_ModListPartial" model="@Model.Org.Mods"/>

@section Scripts {
    <page-script/>
}