@page "/u/{userSlug:slug}"
@model Disunity.Store.Pages.Users.Details

@{
    var modalData = new {placeholder = "Enter Org display name"};
}

<h1>
    <ejs-inplaceeditor id="element" type="Text"
                       mode="Inline"
                       name="DisplayName"
                       value="@Model.Org.DisplayName" 
                       model="@modalData"
                       url="/api/v1/orgs/@Model.Org.Slug"
                       primaryKey="@Model.Org.Slug"
                       adaptor="UrlAdaptor"
                       data-underline="false"
                       ></ejs-inplaceeditor>
</h1>



<partial name="Mods/_ModListPartial" model="@Model.Org.Mods"/>